h1 {
    text-align: center;
    color: rgb(231, 151, 47);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: bisque;
    padding: 20px;
    margin-bottom: 20px;
}

img {
    border: 10px solid coral;
    border-radius: 10px;
    margin-right: 45px;
    margin-left: 45px;
    padding: 5px;
}